:root {
    --about-section-title-color: #62684d;
    --about-section-character-name-color: #62684d;
    --about-section-text-title-color: #62684d;
    --about-section-text-color: #62684d;
}

.about-section-content-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 10px;

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Title ---------------------------*/
.about-section-title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10%;
    width: 100%;
}

.about-section-title-container h2 {
    color: var(--about-section-title-color);
    text-align: center;
}

/*----------------- Card and Text ---------------------------*/
.about-section-detail-container {
    display: flex;
    flex-direction: column;

    height: 90%;
    width: 100%;
}

/*----------------- Text ---------------------------*/
.about-section-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: min(100%, 800px);
    width: 100%;

    background-image: url(/images/lua_nova.png);
    background-size: cover;
    background-repeat: no-repeat;

    text-align: justify;
}

.about-section-text-box h3 {
    align-self: flex-start;
    padding: 0px 20px;
    margin-bottom: 5px;

    font-style: italic;
    color: var(--about-section-text-title-color);
}

.about-section-text-box p {
    padding: 0px 20px;
    color: var(--about-section-text-color);
    line-height: 18px;
}

@media (min-width: 640px) and (min-height: 360px) {
    .about-section-text-box p {
        line-height: 20px;
    }
}

/* Responsive design for screens equal or larger than 1024px */
@media (min-width: 1024px) {
    .about-section-title-container {
        height: 20%;
    }

    .about-section-detail-container {
        flex-direction: row;
        height: 80%;
    }

    .about-section-card-container {
        width: 50%;
    }

    .about-section-text-box {
        width: 50%;
    }

    .about-section-text-box h3 {
        margin-bottom: 10px;
    }
}

@media (min-width: 1280px) {
    .about-section-card-container {
        width: 50%;
    }

    .about-section-text-box {
        width: 50%;
    }

    .about-section-text-box h3 {
        padding: 0px 40px 0px 0px;
        margin-bottom: 15px;
    }

    .about-section-text-box p {
        padding: 0px 40px 0px 0px;
        line-height: 35px;
    }
}