/*----------------- Card ---------------------------*/
.about-section-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    margin: 10px 0px;
}

.about-section-card {
    display: none;
    flex-direction: column;
    align-items: center;

    width: min(50%, 350px);
    margin: 10px;
}

.about-section-card h3 {
    font-style: italic;
    color: var(--about-section-character-name-color);
    text-align: start;
}

.about-section-card:nth-child(2) h3 {
    margin-bottom: 5px;
}

.about-section-card:nth-child(3) h3 {
    margin-top: 15px;
}

.about-section-card img {
    height: 130px;
    width: 130px;
}

.about-section-card:nth-child(1) img {
    box-shadow: -10px -10px 0px 0px #ffd171, 10px 10px 0px 0px #4e6982;
}

@media (min-height: 640px) {
    .about-section-card:nth-child(1) {
        display: flex;
    }
}

@media (min-width: 320px) and (min-height: 600px) {
    .about-section-card:nth-child(1) {
        display: none;
    }

    .about-section-card:nth-child(2),
    .about-section-card:nth-child(3) {
        display: flex;
    }

    .about-section-card:nth-child(2) img {
        box-shadow: 15px 15px 0px 0px #ffd171;
    }

    .about-section-card:nth-child(3) img {
        box-shadow: 15px 15px 0px 0px #4e6982;
    }

    .about-section-card img {
        height: 165px;
        width: 130px;
    }
}

/* Responsive design for screens equal or larger than 768px */
@media (min-width: 768px) and (min-height: 480px) {
    .about-section-card img {
        height: 200px;
        width: 165px;
    }
}

@media (min-width: 1024px) and (min-height: 640px) {
    .about-section-card img {
        height: 275px;
        width: 225px;
    }
}

/* Responsive design for screens equal or larger than 1536px */
@media (min-width: 1536px) and (min-height: 768px) {
    .about-section-card img {
        height: 400px;
        width: 300px;
    }
}