@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Libra-Serif-Modern';
    src: url(/fonts/LibraSerifModern-Regular.otf) format('opentype');
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/* body::-webkit-scrollbar {
    width: 0.000001px;
} */

.sections-container {
    height: calc(100vh - 70px);
    overflow-y: scroll;
    scroll-behavior: smooth !important;
    scroll-snap-type: y mandatory;
}

.sections {
    height: calc(100vh - 70px);
    scroll-snap-align: start;
}

.h2 {
    font-size: 1.1rem;
    font-family: 'Libra-Serif-Modern';
    font-weight: 300;
}

.h3 {
    font-size: 1rem;
    font-family: 'Libra-Serif-Modern';
    font-weight: 300;
}

.p {
    font-size: 0.8rem;
    font-family: 'Montserrat';
    font-weight: 400;
}

span {
    font-style: italic;
    font-weight: 600;
}

@media(min-width: 320px) and (min-height: 640px),
(min-width: 640px) and (min-height: 320px) {
    .h2 {
        font-size: 1.15rem;
    }

    .h3 {
        font-size: 1.05rem;
    }

    .p {
        font-size: 0.85rem;
    }
}

@media (min-width: 360px) and (min-height: 768px),
(min-width: 768px) and (min-height: 360px) {

    .sections-container,
    .sections {
        height: calc(100vh - 120px);
    }

    .h2 {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }

    .h3 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .p {
        font-size: 1rem;
        letter-spacing: 1px;
    }
}

@media (min-width: 768px) and (min-height: 640px),
(min-width: 640px) and (min-height: 768px) {

    .sections-container,
    .sections {
        height: calc(100vh - 90px);
    }

    .h2 {
        font-size: 1.5rem;
        word-spacing: 2px;
    }

    .h3 {
        font-size: 1.4rem;
        word-spacing: 2px;
    }

    .p {
        font-size: 1.1rem;
        word-spacing: 2px;
    }
}

@media (min-width: 1024px) and (min-height: 768px),
(min-width: 768px) and (min-height: 1024px) {

    .sections-container,
    .sections {
        height: calc(100vh - 150px);
    }

    .h2 {
        letter-spacing: 2px;
    }

    .h3 {
        letter-spacing: 2px;
    }

    .p {
        letter-spacing: 2px;
    }
}

@media (min-width: 1280px) and (min-height: 768px),
(min-width: 768px) and (min-height: 1280px) {
    .h2 {
        font-size: 1.6rem;
    }

    .h3 {
        font-size: 1.5rem;
    }

    .p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1536px) and (min-height: 1024px),
(min-width: 1024px) and (min-height: 1536px) {

    .sections-container,
    .sections {
        height: calc(100vh - 180px);
    }

    .h2 {
        font-size: 1.8rem;
        word-spacing: 4px;
    }

    .h3 {
        font-size: 1.7rem;
        word-spacing: 4px;
    }

    .p {
        font-size: 1.2rem;
        word-spacing: 4px;
    }
}