@font-face {
    font-family: 'Libra-Serif-Modern';
    src: url(/fonts/libra-serif-modern.regular.otf) format('opentype');
}
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat-Light.ttf) format('truetype');
}

:root {
    --navigation-brand-name-color: #585c44;
    --navigation-navbar-item-color: #585c44;
    --navigation-navbar-item-hover-bg-color: #9f4f39;
    --navigation-navbar-item-hover-color: #e6e1d7;
    --mobile-menu-bar-color: #585c44;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: slategrey;
}

.navigation-background-image {
    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 5px;
}

.brand-container {
    display: flex;
    align-items: center;
}

.brand-logo {
    height: auto;
    width: 60px;
}

.brand-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 60px;
    margin: 0px 10px;

    color: var(--navigation-brand-name-color);
    text-align: center;
}

.brand-title {
    margin-top: 5px;

    font-family: 'Libra-Serif-Modern';
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.brand-subtitle {
    font-family: 'Montserrat';
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 5px;
    text-transform: lowercase;
}
/* flex items-center text-green */
.navbar-menu {
    display: none;
    align-items: center;
    color: var(--navigation-navbar-item-color);
}

.navbar-menu-item {
    margin: 0px 12px;
}

.navbar-menu-link {
    padding: 12px 24px;
    border-radius: 25px;

    font-family: 'Libra-Serif-Modern';
    font-size: 1.1rem;
    letter-spacing: 1.5px;

    cursor: pointer;
    text-transform: lowercase;
}
#mobile-navbar {
    display: none;
}


/* Responsive design for screens equal or larger than 640px */
@media (min-width: 640px) {
    .navigation-wrapper {
        padding: 10px;
    }
    
    .brand-logo {
        width: 100px;
    }
    
    .brand-name-wrapper {
        height: 100px;
        margin: 0px 20px;
    }
    
    .brand-title {
        margin-top: 10px;
        font-size: 1.5rem;
    }
    
    .brand-subtitle {
        font-size: 1rem;
        letter-spacing: 6.5px;
    }
}

/* Responsive design for screens equal or larger than 1024px */
@media (min-width: 1024px) {
    .navigation-wrapper {
        padding: 15px;
    }
    
    .brand-logo {
        width: 120px;
    }
    
    .brand-name-wrapper {
        height: 120px;
        margin: 0px 30px;
    }
    
    .brand-title {
        margin-top: 10px;
        font-size: 1.85rem;
    }
    
    .brand-subtitle {
        font-size: 1.2rem;
        letter-spacing: 7.5px;
    }
}

/* Responsive design for screens equal or larger than 1536px */
@media (min-width: 1536px) {
    .navigation-wrapper {
        padding: 20px;
    }
    
    .brand-logo {
        width: 140px;
    }
    
    .brand-name-wrapper {
        height: 140px;
        margin: 0px 40px;
    }
    
    .brand-title {
        margin-top: 15px;
        font-size: 2.2rem;
    }
    
    .brand-subtitle {
        font-size: 1.4rem;
        letter-spacing: 8.5px;
    }


    .navbar-menu-item {
        margin: 0px 16px;
    }

    .navbar-menu-link {
        font-size: 1.3rem;
    }

    .navbar-menu-link:hover {
        background-color: var(--navigation-navbar-item-hover-bg-color);
        color: var(--navigation-navbar-item-hover-color);
    }
    
}
