:root {
    --section-02-title-color: #62684d;
    --section-02-character-name-color: #62684d;
    --section-02-text-title-color: #62684d;
    --section-02-text-color: #62684d;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.content-02 {
    height: 100%;
    width: 100%;

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* 
.section-02 {
    display: grid;
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 30vh 50vh;

    background-image: url("/images/Fundo_branco_com_granulado.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.section-02 h2 {
    grid-column: span 2;
    grid-row: 1;

    margin: 150px 0px 50px 0px;

    font-family: 'Libra-Serif-Modern';
    font-weight: lighter;
    font-size: 25px;

    color: var(--section-02-title-color);
    text-align: center;
    letter-spacing: 2px;    
}

.section-02-card-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;

    justify-content: center;
}

.section-02-card-container div {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 10px;
}

.section-02-card-container div h3 {
    margin: 10px;

    font-family: 'Libra-Serif-Modern';
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    
    color: var(--section-02-character-name-color);
    text-align: center;
    letter-spacing: 2px;
}

.section-02-card-container div img {
    height: 350px;
    width: 250px;
    margin: 10px;
}

.section-02-character-card-one {
    box-shadow: 15px 15px 0px 0px #ffd171;
}

.section-02-character-card-two {
    box-shadow: 15px 15px 0px 0px #4e6982;
}

.section-02-text-box {
    grid-column: 2;
    grid-row: 2;

    background-image: url(/images/new-moon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-02-text-box h3 {
    margin-bottom: 10px;

    font-family: 'Libra-Serif-Modern';
    font-weight: lighter;
    font-style: italic;
    font-size: 22px;

    color: var(--section-02-text-title-color);
    letter-spacing: 3px;
}

.section-02-text-box p {
    width: 60%;

    font-family: 'Montserrat';
    font-size: 20px;

    color: var(--section-02-text-color);
    letter-spacing: 1px;
    line-height: 30px;
} */