:root 
{
    --section-02-title-color: #62684d;
    --section-02-character-name-color: #62684d;
    --section-02-text-title-color: #62684d;
    --section-02-text-color: #62684d;
}

.section-02-content-wrapper 
{
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Title ---------------------------*/
.section-02-title-container
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40%;
    width: 100%;
}

.section-02-title-container h2
{
    font-family: 'Libra-Serif-Modern';
    font-weight: 200;
    font-size: 1.2rem;

    color: var(--section-02-title-color);
    text-align: center;
    letter-spacing: 2px;    
}

/*----------------- Card and Text ---------------------------*/

.section-02-detail-container
{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

/*----------------- Card ---------------------------*/
.section-02-card-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.section-02-card 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 10px;
}

.section-02-card:nth-child(2), .section-02-card:nth-child(3)
{
    display: none;
}


.section-02-card h3
{   
    margin: 10px 0px 0px 10px;

    font-family: 'Libra-Serif-Modern';
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    
    color: var(--section-02-character-name-color);
    letter-spacing: 2px;

    text-align: start;
}

.section-02-card img 
{
    height: 130px;
    width: 130px;
    margin: 10px;
}

.section-02-card:nth-child(1) img
{
    box-shadow: -10px -10px 0px 0px #ffd171, 10px 10px 0px 0px #4e6982;
}

/*----------------- Text ---------------------------*/
.section-02-text-box
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    width: 100%;

    background-image: url(/images/lua_nova.png);
    background-size: cover;
    background-repeat: no-repeat;

    text-align: justify;
}

.section-02-text-box h3 
{
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 5px;

    font-family: 'Libra-Serif-Modern';
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;

    color: var(--section-02-text-title-color);
    letter-spacing: 3px;
}

.section-02-text-box p
{
    width: 100%;
    padding: 10px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.9rem;

    color: var(--section-02-text-color);

    line-height: 18px;
}

@media (min-width: 640px) 
{
    .section-02-title-container h2
    {
        font-size: 1.3rem;  
    }

    .section-02-card img 
    {
        height: 180px;
        width: 180px;
    }

    .section-02-text-box h3 
    {
        font-size: 1.3rem;
    }
    
    .section-02-text-box p
    {
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 20px;
    }
}

/* Responsive design for screens equal or larger than 768px */
@media (min-width: 768px) 
{
    .section-02-title-container h2
    {
        font-size: 1.4rem;  
    }

    .section-02-card img 
    {
        height: 220px;
        width: 220px;
    }

    .section-02-text-box h3 
    {
        font-size: 1.4rem;
    }
    
    .section-02-text-box p
    {
        font-size: 1.1rem;
    }

}

/* Responsive design for screens equal or larger than 1024px */
@media (min-width: 1024px) 
{
    .section-02-title-container h2
    {
        font-size: 1.5rem;  
    }

    .section-02-detail-container
    {
        flex-direction: row;
    }

    .section-02-card-container
    {
        width: 80%;
    }

    .section-02-card:nth-child(1)
    {
        display: none;
    }

    .section-02-card:nth-child(2), .section-02-card:nth-child(3)
    {
        display: inline;
    }

    .section-02-card img 
    {
        height: 275px;
        width: 225px;
    }
        
    .section-02-card:nth-child(2) img
    {
        box-shadow: 15px 15px 0px 0px #ffd171;
    }

    .section-02-card:nth-child(3) img
    {
        box-shadow: 15px 15px 0px 0px #4e6982;
    }

    .section-02-text-box h3 
    {
        width: 90%;
        padding: 0px 0px 0px 15px;
        margin-bottom: 10px;
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
    
    .section-02-text-box p
    {
        width: 90%;
        padding: 0px 0px 0px 15px;
        font-size: 1.2rem;
        word-spacing: 2px;
    }

}

/* Responsive design for screens equal or larger than 1536px */
@media (min-width: 1536px) 
{
    .section-02-title-container h2
    {
        font-size: 1.6rem;  
    }
    
    .section-02-card h3
    {   
        font-size: 1.4rem;
    }
    

    .section-02-card img 
    {
        height: 400px;
        width: 300px;
    }

    .section-02-text-box h3 
    {
        padding: 0px;
        margin-bottom: 15px;
        font-size: 1.6rem;
    }
    
    .section-02-text-box p
    {
        padding: 0px;
        font-size: 1.3rem;
        word-spacing: 4px;
        line-height: 35px;
    }
}