:root
{
    --section-04-title-color: #62684d;
    --section-04-note-seal-color: #9F4F39;
    --section-04-note-background-color: #E6E1D7;
    --section-04-note-shadow-color: #D1C9B9;
    --section-04-note-color: #62684d;
}

.section-04-content-wrapper 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Text ---------------------------*/
.section-04-text-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 100%;
    padding: 20px;
    color: var(--section-04-title-color);
}

.section-04-text-box h2
{
    margin-bottom: 20px;
    font-style: italic;
}

.section-04-text-box p
{
    width: 100%;
}

.section-04-text-box p span
{
    font-weight: 600;
    font-style: italic;
}

/*----------------- Notes ---------------------------*/

.section-04-note-container
{
    display: flex;

    height: 60%;
    width: 100%;

    overflow-x: auto;
}

.section-04-note-item
{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 180px;
    width: 180px;
    padding: 10px;
    margin: 20px;

    color: var(--section-04-note-color);
    background-color: var(--section-04-note-background-color);
    box-shadow: 10px 10px 0px 0px var(--section-04-note-shadow-color);
    text-align: center;
}

.section-04-note-item div
{
    position: absolute;
    top: -15px;

    height: 30px;
    width: 30px;
    border-radius: 50%;

    background-color: var(--section-04-note-seal-color);
    opacity: 0.8;
}

.section-04-note-item h3
{
    margin: 10px 0px;
    font-style: italic;
}

.section-04-note-item p
{
    line-height: 20px;
}

@media (min-width: 640px)
{
    .section-04-note-item
    {
        height: 220px;
        width: 220px;
    }
}

@media (min-width: 1024px)
{   
    .section-04-text-box h2
    {
        margin-left: 8%;
    }

    .section-04-text-box p
    {
        width: 75%;
        margin-left: 8%;
    }

    .section-04-note-container
    {
        width: 80%;
    }

    .section-04-note-item
    {
        height: 260px;
        width: 260px;
    }
}

@media (min-width: 1536px) 
{
    .section-04-text-box h2
    {
        margin-bottom: 20px;
    }
    
    .section-04-note-item
    {
        height: 330px;
        width: 330px;
        padding: 20px;
    }
    
    .section-04-note-item div
    {
        top: -15px;
    
        height: 40px;
        width: 40px;
    }
    
    .section-04-note-item p
    {
        line-height: 40px;
    }
}