:root {
    --values-section-text-box-color: #62684d;
}

.values-section-content-wrapper {
    position: relative;

    height: 100%;
    width: 100%;
    padding: 10px;

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Bamboo ---------------------------*/
.values-section-bamboo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: min(100%, 800px);
    width: min(35%, 500px);
    border: solid 1px red;
    opacity: 0.7;
    z-index: 1;
}

/*----------------- Text ---------------------------*/
.values-section-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

    height: 100%;
    width: min(100%, 1000px);
    margin-inline: auto;

    color: var(--values-section-text-box-color);
    text-align: justify;
    z-index: 2;
}

.values-section-text-box h2 {
    font-style: italic;
}


.values-section-text-box-item h3 span {
    font-style: italic;
    font-weight: 600;
}

/*----------------- Kanjis ---------------------------*/
.values-section-kanjis {
    display: none;
    position: absolute;
    height: 140px;
    width: 40px;
    opacity: 0.7;
    z-index: 1;
}

.values-section-kanjis:nth-of-type(5) {
    bottom: 20%;
    right: 10%;
}

.values-section-kanjis:nth-of-type(2) {
    top: 0;
    right: 15%;
}

.values-section-kanjis:nth-of-type(3) {
    bottom: 40%;
    right: 15%;
}

.values-section-kanjis:nth-of-type(4) {
    top: 20%;
    right: 10%;
}

@media (min-width: 640px) {
    .values-section-text-box-item p {
        line-height: 20px;
    }
}

/* Responsive design for screens equal or larger than 768px */
@media (min-width: 1024px) {
    .values-section-bamboo {
        display: block;
    }

    .values-section-kanjis {
        display: block;
    }
}

/* Responsive design for screens equal or larger than 1024px */
/* @media (min-width: 1024px) {
    .values-section-kanjis {
        height: 180px;
        width: 50px;
    }
} */

/* Responsive design for screens equal or larger than 1536px */
/* @media (min-width: 1536px) {
    .values-section-text-box-item p {
        line-height: 35px;
    }

    .values-section-kanjis {
        height: 220px;
        width: 60px;
    }
} */