:root {
    --services-section-title-color: #62684d;
    --services-section-note-seal-color: #9F4F39;
    --services-section-note-background-color: #E6E1D7;
    --services-section-note-shadow-color: #D1C9B9;
    --services-section-note-color: #62684d;
}

.services-section-content-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 5px max(10px, 2%);

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Text ---------------------------*/
.services-section-text-box {
    display: flex;
    flex-direction: column;

    height: 20%;
    width: min(100%, 880px);
    /* margin: max(20px, 3%) auto max(20px, 3%) 5%; */

    color: var(--services-section-title-color);
}

.services-section-text-box h2 {
    margin-bottom: min(2%, 20px);
    font-style: italic;
}

.services-section-text-box p span {
    font-weight: 600;
    font-style: italic;
}

/*----------------- Notes ---------------------------*/

.services-section-note-container {
    display: flex;
    flex-wrap: wrap;

    height: 80%;
    width: 100%;

    overflow-x: auto;
}

.services-section-note-item {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    position: relative;

    height: 110px;
    width: 110px;
    padding: 5px;
    margin: 20px 10px;

    color: var(--services-section-note-color);
    background-color: var(--services-section-note-background-color);
    box-shadow: 10px 10px 0px 0px var(--services-section-note-shadow-color);
    text-align: center;
}

.services-section-note-item div {
    position: absolute;
    top: -15px;

    height: 25px;
    width: 25px;
    border-radius: 50%;

    background-color: var(--services-section-note-seal-color);
    opacity: 0.8;
}

.services-section-note-item h3 {
    margin: 10px 0px;
    font-style: italic;
}

.services-section-note-item p {
    line-height: 20px;
}

/* @media (min-width: 640px) {
    .services-section-note-item {
        height: 220px;
        width: 220px;
    }
}

@media (min-width: 1024px) {
    .services-section-text-box h2 {
        margin-left: 8%;
    }

    .services-section-text-box p {
        width: 75%;
        margin-left: 8%;
    }

    .services-section-note-container {
        width: 80%;
    }

    .services-section-note-item {
        height: 260px;
        width: 260px;
    }
}

@media (min-width: 1536px) {
    .services-section-text-box h2 {
        margin-bottom: 20px;
    }

    .services-section-note-item {
        height: 330px;
        width: 330px;
        padding: 20px;
    }

    .services-section-note-item div {
        top: -15px;

        height: 40px;
        width: 40px;
    }

    .services-section-note-item p {
        line-height: 40px;
    }
} */