:root {
    --video-section-content-wrapper-background-color: #D1C9B9;
    --video-section-first-paragraph: #62684d;
    --video-section-second-paragraph: #62684d;
    --video-section-button-color: #e6e1d7;
    --video-section-button-background-color: #4e6982;
}

.video-section-content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: var(--video-section-content-wrapper-background-color);
}

/*----------------- Video ---------------------------*/
.video-section-background-video {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    z-index: 1;
}

/*----------------- Text ---------------------------*/
.video-section-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    text-align: center;
    z-index: 2;
}

.video-section-text-box h2 {
    margin: 10px;

    color: var(--video-section-first-paragraph);
}

.video-section-text-box p:nth-child(2) {
    margin: 10px;

    color: var(--video-section-second-paragraph);
}

/*----------------- Button  --------------------------*/

.video-section-button {
    padding: 6px 12px;
    border-radius: 25px;
    margin: 10px;

    color: var(--video-section-button-color);
    background-color: var(--video-section-button-background-color);
    cursor: pointer;
    font-family: 'Libra-Serif-Modern';
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

@media (min-width: 640px) and (min-height: 360px) {
    .video-section-text-box {
        width: 70%;
    }

    .video-section-text-box p:nth-child(1) {
        margin: 15px;
    }

    .video-section-text-box p:nth-child(2) {
        margin: 15px;
    }

    .video-section-button {
        padding: 8px 16px;
        margin: 15px;
        font-size: 1.3rem;
    }
}

/* Responsive design for screens equal or larger than 768px */
@media (min-width: 768px) and (min-height: 480px) {
    .video-section-button {
        padding: 10px 20px;
        font-size: 1.4rem;
    }
}

/* Responsive design for screens equal or larger than 1024px */
@media (min-width: 1024px) and (min-height: 640px) {
    .video-section-text-box p:nth-child(1) {
        margin: 20px;
    }

    .video-section-text-box p:nth-child(2) {
        margin: 20px;
    }

    .video-section-button {
        margin: 15px;
        padding: 12px 24px;
        font-size: 1.6rem;
    }
}

/* Responsive design for screens equal or larger than 1536px */
@media (min-width: 1536px) and (min-height: 1024px) {
    .video-section-button {
        font-size: 1.8rem;
    }
}