<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yamamoto Haus</title>

	<link rel="stylesheet" href="/css/home.style.css">
	<link rel="stylesheet" href="/css/navigation.style.css">
	<link rel="stylesheet" href="/css/videoSection.style.css">
	<link rel="stylesheet" href="/css/aboutCards.style.css">
	<link rel="stylesheet" href="/css/aboutSection.style.css">
	<link rel="stylesheet" href="/css/valuesSection.style.css">
	<link rel="stylesheet" href="/css/section.4.style.css">
	<link rel="stylesheet" href="/css/section.5.style.css">
	<link rel="stylesheet" href="/css/sideMidia.css">
</head>

<body>
	<!-- Navigation Menu -->
	<header class="navigation-background-image">
		<nav class="navigation-wrapper">
			<span>
				<a href="#" class="brand-container">
					<img class="brand-logo" src="/images/logo_capim.png" alt="logo capim">
					<div class="brand-name-wrapper">
						<h1 class="brand-title">Yamamoto Haus</h1>
						<h3 class="brand-subtitle">Design de interiores</h3>
					</div>
				</a>
			</span>
			<ul class="navbar-menu">
				<li class="navbar-menu-item">
					<a href="#essence" class="navbar-menu-link">Nossa essência</a>
				</li>
				<li class="navbar-menu-item">
					<a href="#services" class="navbar-menu-link">Serviços</a>
				</li>
				<li class="navbar-menu-item">
					<a href="#values-section" class="navbar-menu-link">Projetos</a>
				</li>
				<li class="navbar-menu-item">
					<a class="navbar-menu-link">Social</a>
				</li>
			</ul>
			<div id="mobile-navbar">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>

	<!-- Side Midia -->
	<div class="side-midia-container">
		<div class="side-midia-item">
			<a href="" target="_blank">
				<img src="/images/sideMidia/instagram.jpeg" alt="instagram">
			</a>
		</div>
		<div class="side-midia-item">
			<a href="" target="_blank">
				<img src="/images/sideMidia/pinterest.jpeg" alt="pinterest">
			</a>
		</div>
		<div class="side-midia-item">
			<a href="" target="_blank">
				<img src="/images/sideMidia/whatsapp.jpeg" alt="whatsapp">
			</a>
		</div>
		<div class="side-midia-item">
			<a href="" target="_blank">
				<img src="/images/sideMidia/linkedin.jpeg" alt="linkedin">
			</a>
		</div>
	</div>


	<div class="sections-container">
		<!-- Video Section -->
		<section class="sections" id="video">
			<div class="video-section-content-wrapper">
				<video class="video-section-background-video" autoplay loop muted plays-inline>
					<source src="" type="video/mp4">
				</video>

				<div class="video-section-text-box">
					<h2 class="h2">“A casa do presente, que pensa no futuro e recorda do passado”</h2>
					<p class="p">Nossa proposta é através da empatia cuidar do presente, valorizar a história e as
						memórias,
						e respeitar as futuras gerações.</p>
					<a class="video-section-button">Conheça nossos projetos</a>
				</div>
			</div>
		</section>

		<!-- About Section -->
		<section class="sections" id="essence">
			<div class="about-section-content-wrapper">
				<div class="about-section-title-container">
					<h2 class="h2">“A casa do presente, que pensa no futuro e recorda do passado”</h2>
				</div>

				<div class="about-section-detail-container">
					<div class="about-section-card-container">
						<div class="about-section-card">
							<img src="../images/partners.jpg" alt="Natasha e Hugo">
						</div>

						<div class="about-section-card">
							<h3 class="h3">Natasha M. Yamamoto</h3>
							<img src="../images/character_Natasha.jpg" alt="Natasha Michiko">
						</div>

						<div class="about-section-card">
							<img src="../images/character_Hugo.jpg" alt="Hugo Wegner">
							<h3 class="h3">Hugo W. de Moura Nessler</h3>
						</div>
					</div>

					<div class="about-section-text-box">
						<h3 class="h3">Nossa essência</h3>
						<div>
							<p class="p">Nascida de um propósito de vida, a Yamamoto Haus acredita no <span>poder do
									ambiente</span>
								em influenciar nossa saúde, bem-estar e comportamento e a <span>natureza</span> é uma
								grande
								influência nesse processo.</p>
							<p class="p">Visto isso, nosso escritório oferece através do <span>design biofílico</span>
								soluções
								inteligentes e personalizadas que promovem uma <span>experiência alinhada com a essência
									de
									cada indivíduo</span>, seus valores, crenças e estilo de vida, tornando a casa um
								local que
								promova saúde, conforto ambiental e bem-estar.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section 03 -->
		<section class="sections">
			<div class="values-section-content-wrapper">
				<img class="values-section-bamboo" src="/images/outros/bambu_1.png" alt="bambu">

				<div class="values-section-text-box">
					<h2 class="h2">Nossos valores...</h2>
					<div class="values-section-text-box-item">
						<img class="values-section-kanjis" src="../images/outros/omoiyari.png" alt="omoiyari">
						<h3 class="h3">Empatia, cuidado e consideração - <span>omoiyari.</span></h3>
						<p class="p">Cuidar do presente, das pessoas e de sí mesmo, preservar a vida, criar conexões,
							valorizar as origens e respeitar as futuras gerações.</p>
					</div>
					<div class="values-section-text-box-item">
						<img class="values-section-kanjis" src="../images/outros/kintsugi.png" alt="kintsugi">
						<h3 class="h3">Emendar com ouro - <span>kintsugi.</span></h3>
						<p class="p">Errar é humano. Nossa missão é ressignificar o erro em aprendizado, permitindo a
							evolução contínua como pessoas e profissionais.</p>
					</div>
					<div class="values-section-text-box-item">
						<img class="values-section-kanjis" src="../images/outros/kansha.png" alt="kansha">
						<h3 class="h3">Gratidão - <span>kansha.</span></h3>
						<p class="p">Às pessoas, às oportunidades, ao trabalho, à natureza e à vida, muito obrigado!</p>
					</div>
					<div class="values-section-text-box-item">
						<img class="values-section-kanjis" src="../images/outros/ganbatte.png" alt="ganbatte">
						<h3 class="h3">Faça o melhor que puder e nunca desista - <span>ganbatte.</span></h3>
						<p class="p">Seja como o bambu, flexível, e sustente-se nas suas raízes nos momentos de
							adversidade, e assim como o bambu nas estações chuvosas, cresça (progrida e evolua) em
							direção ao céu.</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="/js/app.js"></script>
</body>

</html>