<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yamamoto Haus</title>

	<link rel="stylesheet" href="/css/qrPage.style.css">
</head>

<body class="background-image">
	<!-- Content Wrapper -->
	<nav class="content-wrapper">
		
		<!-- Title and Image -->
		<div class="brand-container">
			<img class="brand-logo" src="/images/logo_branca.png" alt="logo branca">
			<h1 class="brand-title">Yamamoto Haus</h1>
			<h3 class="brand-subtitle">Desing de Interiores</h3>
		</div>

		<div class="media-container">
			<a class="pinterest-logo" href="https://br.pinterest.com/yamamotohausinteriores/_created/"></a>
			<a class="linkedin-logo" href="https://www.linkedin.com/company/yamamoto-haus"></a>
		</div>

		<ul class="navigation-container">
			<li class="navigation-button first-button">
				<a class="navigation-link" href="/">Quem somos</a>
			</li>
			<li class="navigation-button second-button">
				<a class="navigation-link" href="https://docs.google.com/forms/d/1eecKKFgnL-C_a-i_kjW8wiDuyLyh4F4YOddRrZkDatc/edit">Quero meu projeto</a>
			</li>
			<li class="navigation-button third-button">
				<a class="navigation-link" href="https://www.instagram.com/yamamoto.haus/">Conheça nossos projetos</a>
			</li>
		</ul>

	</nav>
</body>
</html>