<section class="section">
    <div class="content-01">
        <video class="section-01-background-video" autoplay loop muted plays-inline>
            <source src="/videos/Mareux - The Perfect Girl (Retrowave_Synthwave cover) Slowed Reverb.mp4" type="video/mp4">
        </video>

        <div>
            <p class="section-01-first-paragraph">“A casa do presente, que pensa no futuro e recorda do passado”</p>
            <p class="section-01-second-paragraph">Nossa proposta é através da empatia cuidar do presente, valorizar a história e as memórias, e respeitar as futuras gerações.</p>
            <a class="section-01-button">Conheça nossos projetos</a>
        </div>
    </div>
</section>