<section class="content-wrapper">
    <div>
        <video autoplay loop muted>
            <source src="/videos/Mareux - The Perfect Girl (Retrowave_Synthwave cover) Slowed Reverb.mp4">
        </video>
        <div>
            <h1>“A casa do presente, que pensa no futuro e recorda do passado”</h1>
            <p>Nossa proposta é através da empatia cuidar do presente, valorizar a história e as memórias, e respeitar as futuras gerações.</p>
            <li>
                <a href="https://www.instagram.com/yamamoto.haus/">Conheça nossos projetos</a>
            </li>
        </div>
    </div>
</section>

<style>
    * {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.content-wrapper {
    height: 2200px;
    background-color: aqua;
}

h1 {
    color: red;
}
</style>