:root {
    --services-section-note-seal-color: #9F4F39;
    --services-section-note-background-color: #E6E1D7;
    --services-section-note-shadow-color: #D1C9B9;
    --services-section-note-color: #62684d;
}

.services-section-note-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

    height: 120px;
    width: 120px;
    padding: 5px;

    color: var(--services-section-note-color);
    background-color: var(--services-section-note-background-color);
    box-shadow: 5px 5px 0px 0px var(--services-section-note-shadow-color);
    text-align: center;
    /* transform: translate(-50%, -50%); */
}

.services-section-note-item div {
    position: relative;
    height: 1px;
    width: 100%;
}

.services-section-note-item div div {
    position: absolute;
    top: -15px;
    left: 40%;

    height: 20px;
    width: 20px;
    border-radius: 50%;

    background-color: var(--services-section-note-seal-color);
    opacity: 0.8;
}

.services-section-note-item h3 {
    margin: 5px 0px;
    font-size: 0.9rem;
    font-style: italic;
}

.services-section-note-item p {
    font-size: 0.65rem;
}

/* Positions */
.services-section-note-item:nth-of-type(1) {
    top: 0%;
    left: 5%;
}

.services-section-note-item:nth-of-type(2) {
    top: 0%;
    right: 5%;
}

.services-section-note-item:nth-of-type(3) {
    top: 34%;
    left: 5%;
}

.services-section-note-item:nth-of-type(4) {
    top: 34%;
    right: 5%;
}

@media (min-width: 640px) and (min-height: 280px) {
    .services-section-note-item:nth-of-type(1) {
        top: 7%;
        left: 3%;
    }

    .services-section-note-item:nth-of-type(2) {
        top: 7%;
        right: 53%;
    }

    .services-section-note-item:nth-of-type(3) {
        top: 7%;
        left: 53%;
    }

    .services-section-note-item:nth-of-type(4) {
        top: 7%;
        right: 3%;
    }
}



/* @media (min-width: 280px) and (min-height: 600px) {
    .services-section-note-container {
        height: 75%;
        width: 100%;
    }
}

@media (min-width: 320px) and (min-height: 600px) {
    .services-section-note-container {
        flex-direction: row;
    }
}

@media (min-width: 360px) and (min-height: 768px),
(min-width: 768px) and (min-height: 360px) {
    .services-section-note-item {
        height: 170px;
        width: 170px;
    }

    .services-section-note-item h3 {
        margin: 10px 0px;
        font-size: 1.05rem;
    }

    .services-section-note-item p {
        font-size: 0.85rem;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    .services-section-note-item {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 1024px) and (min-height: 600px) {
    .services-section-note-container {
        justify-content: center;
    }

    .services-section-note-wrapper {
        flex-direction: row;
        margin-inline: 0;
    }

    .services-section-note-item {
        height: 200px;
        width: 200px;
    }

    .services-section-note-item div {
        top: -20px;
        height: 30px;
        width: 30px;
    }
}

@media (min-width: 1280px) and (min-height: 640px) {
    .services-section-note-container {
        align-items: start;
        height: 80%;
    }

    .services-section-note-item {
        height: 240px;
        width: 240px;
    }

    .services-section-note-item div {
        top: -25px;
        height: 40px;
        width: 40px;
    }
} */