:root {
    --services-section-title-color: #62684d;
}

.services-section-content-wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 5px max(10px, 2%);

    background-image: url(/images/background_granulado.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*----------------- Text ---------------------------*/
.services-section-text-box {
    display: flex;
    flex-direction: column;

    height: 25%;
    width: min(100%, 880px);

    color: var(--services-section-title-color);
    text-align: justify;
}

.services-section-text-box h2 {
    font-style: italic;
}

.services-section-text-box p span {
    font-weight: 600;
    font-style: italic;
}

/*----------------- Notes ---------------------------*/
.services-section-note-container {
    position: relative;
    height: 75%;
    width: 100%;
}

@media (min-width: 280px) and (min-height: 340px) {
    .services-section-text-box {
        margin: max(20px, 3%) 0px;
    }

    .services-section-text-box h2 {
        margin-bottom: min(2%, 20px);
    }

    .services-section-text-box p {
        line-height: 20px;
    }
}

@media (min-width: 1280px) and (min-height: 640px) {
    .services-section-text-box {
        height: 20%;
    }
}