<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Yamamoto Haus</title>

    <link rel="stylesheet" href="/css/indexStyle.css">
</head>

<body>

	<header class="navigation-background-image" id="veil">
		<nav class="navigation-wrapper">
			
			<span class="brand-container">
				<img class="brand-logo" src="/images/logo_capim.png" alt="logo capim">

				<div class="brand-name-wrapper">
					<h1 class="brand-title">Yamamoto Haus</h1>
					<h3 class="brand-subtitle">Desing de interiores</h3>
				</div>
			</span>
			
			<ul class="navbar-menu">
				<li class="navbar-menu-item">
					<a class="navbar-menu-link">Nossa essência</a>
				</li>
				
				<li class="navbar-menu-item">
					<a class="navbar-menu-link">Serviços</a>
				</li>
				
				<li class="navbar-menu-item">
					<a class="navbar-menu-link">Projetos</a>
				</li>
				
				<li class="navbar-menu-item">
					<a class="navbar-menu-link">Social</a>
				</li>
			</ul>
			
			<div id="mobile-navbar">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>

		</nav>
	</header>

	<script src="/js/app.js"></script>
</body>
</html>